main {
  display: grid;
  color: black;
  grid-template-columns: auto auto auto;
  align-items: center;
  font-size: 20px;
  border: 1px;
}
button {
  margin: 5px;

  font-size: 12px;
}
div {
  margin: 10px;
}
