.container {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: gray;
  position: sticky;
  top: 0;
  align-items: center;
  list-style: none;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
}
